body {
 background-color:rgb(233,252,254);
}
h1 {
    text-align: center;
}

.Header {
    background-color: rgb(34,36,42);
    color: white;
    align-items: center;
    top: 0px;
    padding: 150px;
    height: 300px;
}

.navbar {
    width: 90%;
    background-color: rgb(37,87,47);
    height: 80px;
    border-radius: 40px;
    position: fixed;
    top: 10px;
    left: 5%;
}

    .navbar p, .navbar img {
        float: left;
        color: white;
        font-size: 25px;
        text-decoration: none;
        margin-left: 15px;
    }
    .navbar li {
        list-style: none;
        float: right;
    }
    .navbar a {
        color: white;
        margin-top: 12px;
        margin-right: 20px;
        padding: 12px;
        color: white;
        font-size: 25px;
        text-decoration: none;
    }
.Section {
    background-color: rgb(100,133,105);
    margin-left: 25px;
    width: 95%;
    border-radius: 5px;
}

.mission, .Meeting {
    background-color: rgb(180,233,190);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 10px 10px 10px;
   
}
.Section h1, .Meeting h1 {
    color: white;
}
.left, .right {
    width: 50%;
    height: auto;

}
.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    object-position: center;
}

.Software, .IOT, .Geocache {
    width: 30%;
    margin-top: 20px;
    float: left;
    height: 150px;
    border-radius: 75px;
    background-color:rgb(34,36,42);
    color: white;
    
}
    .Projects img {
    border-radius: 50%;
    float:left;
    height: 125px;
    width: 125px;
    padding: 13px;
   
}
.Projects h3, .Projects p {
    float: left;
    width:60%;
    display: none;
    text-align: center;
    padding: 0px,0px,0px,0px;
}
.Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(34,36,42);;
    height: auto;
    width: 100%;
}
.Socials img{
    border-radius:50%;
}
.MeetingInfo, .Socials, .Board {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    width: 20%;
    border-radius: 10%;
    height: auto;
    
}

    .MeetingInfo a, .Socials a, .Board a {
        text-decoration: none;
    }
.Board input{
    width:fit-content;
}

.Proj {
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    padding: 0px 70px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(221,221,221);
    border-radius: 30px;
}
.ProjectSec {
    background-color: rgb(34,36,42);
    height: 420px;
    overflow:hidden;
    width: 45%;
    border-radius: 50px;
    text-align: center;
    align-content: center;
    transition: flex 0.7s ease-in;
    padding: 15px 15px 15px 15px;
    color: floralwhite;
    
}
    .ProjectSec img {
    height: 350px;
    border-radius: 10px;
    }

button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 20px;
}
.Calender {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.EventBox {
    background-color: rgb(100,133,105);
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    height: inherit
}
    
    .EventBox li {
        font-size: 20px;
    }
.item {
    border: 2px solid rgb(100,133,105);
    border-radius: 2px;
    
}